.landing__down {
  @apply -rotate-90 text-lg uppercase font-medium text-blue-500 border-blue-500 border-b-[3px] relative pr-2 pb-2 leading-none;
}

.landing__down:before {
  position: absolute;
  rotate: 90deg;
  content: '';
  right: calc(100% - 2px);
  top: calc(100% - 9px);
  min-height: 21px;
  min-width: 23px;
  background: url('/assets/icons/arrow-end.svg') no-repeat center center;
  background-size: contain;
}
